@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "HopsAndBarley";
  src: url("./assets/fonts/HopsAndBarleyc3-Regular.woff2") format("woff2"), url("./assets/fonts/HopsAndBarleyc3-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 3vw;
}

main {
  padding: 1rem;
  border: 1px solid black;
}
main .btn {
  width: 100%;
}
main .btn button {
  padding: 0.6rem 1rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  letter-spacing: 0rem;
  font-size: 0.9rem;
  font-family: "Roboto", monospace;
  word-spacing: 0.1rem;
}
main nav {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
main nav .logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main nav .links {
  display: none;
}
main nav .line {
  display: none;
}
main nav .sidebtn {
  display: none;
}
main nav .light {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main nav .light .sun-icon {
  border: 1px solid black;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  width: 4rem;
  height: 2.3rem;
}
main nav .light .menu {
  font-size: 2rem;
}
main .intro1 {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  gap: 2rem;
  flex-direction: column;
  border-bottom: 1px solid black;
}
main .intro1 .intro-2 {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
main .intro1 img {
  width: 18%;
}
main .intro1 .heading {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
main .intro1 .heading h1 {
  width: 85%;
  font-family: "Syne", sans-serif;
  font-weight: 500;
  line-height: 3rem;
  font-size: clamp(2.7rem, 5vw, 7rem);
}
main .intro1 .heading p {
  font-size: clamp(1rem, 5vw, 1.9rem);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1.8rem;
}
main .intro1 .video {
  width: 100%;
}
main .intro1 .video video {
  width: 100%;
  border-radius: 1rem;
}
main .anim2 {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  gap: 2rem;
  flex-direction: column;
  border-bottom: 1px solid black;
  font-family: "Roboto", monospace;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
main .anim2 span {
  text-align: center;
}
main .anim2 .line {
  display: none;
}
main .anim2 .client-section {
  overflow: hidden;
  background-color: #f9f9f2;
  padding: 10px 0;
  position: relative;
}
main .anim2 .client-section .icons-wrapper {
  display: flex;
  white-space: nowrap;
  animation: scrollLeft 3s linear infinite;
}
main .anim2 .client-section .icons-wrapper .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  font-size: 14px;
}
main .anim2 .client-section:hover .icons-wrapper {
  animation-duration: 30s;
}
main .SEC3 .heading2 {
  display: none;
}
main .SEC3 .sec3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid black;
  font-family: "Roboto", monospace;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
main .SEC3 .sec3 img {
  width: 20vw;
}
main .SEC3 .sec3 .branding {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .SEC3 .sec3 .branding h1 {
  font-family: "Syne";
  font-weight: 500;
  font-size: 2rem;
}
main .SEC3 .sec3 .branding p {
  font-family: "Satoshi";
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.7rem;
}
main .SEC3 .sec3 .branding p br {
  display: none;
}
main .sec4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid black;
}
main .sec4 .featured-work {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
main .sec4 .featured-work h1 {
  font-family: "Syne";
  font-weight: 500;
  font-size: 2.5rem;
}
main .sec4 .featured-work p {
  font-family: "Satoshi";
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0px;
  line-height: 1.7rem;
  width: 90%;
}
main .sec4 .line4 {
  width: 100%;
  height: 1px;
  background-color: black;
}
main .sec4 .images {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
main .sec4 .images img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
main .sec4 .images .subhead {
  display: flex;
  justify-content: space-between;
}
main .sec4 .images .subhead h3 {
  font-family: "Syne", "Syne Placeholder";
  font-size: 1.4rem;
}
main .sec4 .images .subhead code {
  font-size: 1rem;
}
main .sec5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .sec5 .title {
  font-size: 1.3rem;
  font-family: "Satoshi";
  line-height: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
main .sec6 {
  padding: 2rem 0;
  border-bottom: 1px solid black;
}
main .sec6 h1 {
  font-family: "Syne";
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}
main .sec7 {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
  border: none;
}
main .sec7 img {
  border-radius: 15px;
  width: 100%;
}
main .sec7 .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .sec7 .content .secPara {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
}
main .sec7 .content .secPara code {
  border: 1px solid black;
  border-radius: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-family: "Roboto";
}
main .sec7 .content .secPara .secPara1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
}
main .sec7 .content .secPara .secPara1 h1 {
  font-family: "Syne";
  font-size: 2rem;
  font-weight: 500;
}
main .sec7 .content .secPara .secPara1 p {
  font-family: "Satoshi";
  line-height: 1.7rem;
}
main .sec9 {
  padding: 2rem 0;
  border-bottom: 1px solid black;
}
main .sec9 h1 {
  font-family: "Syne";
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}
main .sec9 button {
  display: none;
}
main .sec10 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2rem 0;
}
main .sec10 .content2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
main .sec10 .content2 .contImg img {
  width: 100%;
  border-radius: 15px;
}
main .sec10 .content2 p {
  font-family: "Roboto";
}
main .sec10 .content2 h3 {
  font-family: "Syne";
  font-size: 1.6rem;
  font-weight: 500;
}

.light {
  padding: 4px;
}

i {
  padding: 4px;
}

.head {
  font-family: "HopsAndBarley", sans-serif;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@media (min-width: 1080px) {
  body {
    padding: 0.9vw;
  }
  main {
    padding: 2rem 3rem;
  }
  main nav {
    padding-bottom: 2rem;
  }
  main nav .menu {
    display: none;
  }
  main nav .navlinks {
    display: flex;
    gap: 1rem;
  }
  main nav .navlinks img {
    display: none;
  }
  main nav .navlinks .links {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: "Roboto", monospace;
  }
  main nav .navlinks .links span {
    font-size: 1.01rem;
    font-family: "Roboto", monospace;
    letter-spacing: 0.1rem;
  }
  main nav .navlinks .links button {
    padding: 0.6rem 1rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
    font-size: 1.05rem;
  }
  main nav .navlinks .sidebtn {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  main nav .navlinks .sidebtn .line {
    width: 1px;
    height: 2.4rem;
    background-color: black;
  }
  main nav .navlinks .sidebtn .IN {
    border: 1px solid black;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-family: "Roboto", monospace;
  }
  main .intro1 {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  main .intro1 .intro-2 {
    width: 60%;
    display: flex;
    flex-direction: column-reverse;
  }
  main .intro1 .intro-2 h1 {
    line-height: 6rem;
  }
  main .intro1 .intro-2 img {
    width: 8%;
  }
  main .intro1 .intro-2 .heading {
    display: flex;
    flex-direction: column;
  }
  main .intro1 .intro-2 .heading h1 br {
    display: none;
  }
  main .intro1 .intro-2 .heading p {
    width: 100%;
    line-height: 3rem;
  }
  main .intro1 .intro-2 .heading p br {
    display: none;
  }
  main .intro1 .video {
    height: auto;
    position: relative;
    width: 1px;
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
  }
  main .intro1 .video video {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .anim2 {
    display: flex;
    width: 100%;
    padding: 2rem 0;
    gap: 2rem;
    flex-direction: row;
    border-bottom: 1px solid black;
    font-family: "Roboto", monospace;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    align-items: center;
    justify-content: space-between;
  }
  main .anim2 span {
    width: 18%;
    text-align: left;
  }
  main .anim2 .line5 {
    width: 1px;
    height: 40px;
    background-color: black;
  }
  main .anim2 .client-section {
    overflow: hidden;
    background-color: #f9f9f2;
    padding: 10px 0;
    position: relative;
  }
  main .anim2 .client-section .icons-wrapper {
    display: flex;
    white-space: nowrap;
    animation: scrollLeft 15s linear infinite;
  }
  main .anim2 .client-section .icons-wrapper .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    font-size: 14px;
  }
  main .anim2 .client-section:hover .icons-wrapper {
    animation-duration: 30s;
  }
  main .SEC3 {
    display: flex;
    width: 100%;
    padding: 4rem 0;
    gap: 2rem;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: start;
  }
  main .SEC3 .heading2 {
    width: 30%;
    display: block;
    font-family: "Roboto";
    word-spacing: 0.3rem;
  }
  main .SEC3 .line2 {
    width: 1px;
    height: 34rem;
    background-color: black;
  }
  main .SEC3 .line {
    width: 8%;
    height: 1px;
    background-color: black;
  }
  main .SEC3 .sec3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    border-bottom: 0px;
    font-family: "Roboto", monospace;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }
  main .SEC3 .sec3 img {
    width: 5vw;
  }
  main .SEC3 .elem {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 2rem;
  }
  main .SEC3 .elem .line4 {
    width: 100%;
    height: 1px;
    background-color: black;
  }
  main .SEC3 .elem .elem2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  main .SEC3 .elem .elem2 .line3 {
    width: 1px;
    height: 15rem;
    background-color: black;
  }
  main .sec4 {
    display: flex;
    flex-direction: row;
  }
  main .sec4 .featured-work {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  main .sec4 .featured-work h1, main .sec4 .featured-work p, main .sec4 .featured-work div {
    position: sticky;
    top: 0;
  }
  main .sec4 .featured-work .work {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  main .sec4 .featured-work .work h1 {
    font-size: 3rem;
  }
  main .sec4 .featured-work .work p {
    font-size: 1.1rem;
  }
  main .sec4 .line4 {
    width: 1px;
    height: auto;
    background-color: black;
  }
  main .sec4 .images {
    display: grid;
    grid-template-areas: "a a" "a a" "b c" "d e";
  }
  main .sec4 .images img {
    width: 100%;
    height: 100%;
  }
  main .sec4 .images .img-a {
    grid-area: a;
  }
  main .sec4 .images .img-b {
    grid-area: b;
  }
  main .sec4 .images .img-c {
    grid-area: c;
  }
  main .sec5 {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  main .sec5 .line4 {
    width: 1px;
    height: auto;
    background-color: black;
  }
  main .sec5 .head {
    width: 65%;
    gap: 11rem;
  }
  main .sec5 .title {
    font-size: 1.4rem;
    font-family: "Satoshi";
    line-height: 2.2rem;
    gap: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .sec5 .heading {
    width: 100%;
  }
  main .sec5 .heading h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  main .sec5 .heading p {
    font-size: 1rem;
  }
  main .sec6 h1 {
    font-size: 4rem;
  }
  main .sec7 {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    gap: 2rem;
    border-bottom: 1px solid black;
    align-items: center;
  }
  main .sec7 .imgdoc {
    align-self: stretch;
    border-radius: 16px;
    height: auto;
    overflow: hidden;
    width: 49%;
  }
  main .sec7 .imgdoc img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  main .sec7 .line4 {
    width: 1px;
    height: 41rem;
    background-color: black;
  }
  main .sec7 .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
  }
  main .sec7 .content .secPara .secPara1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
  }
  main .sec7 .content .secPara .secPara1 p {
    font-family: "Satoshi";
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  main .sec8 .title P {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
  main .sec8 .title button {
    word-spacing: 0.5rem;
  }
  main .sec9 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid black;
  }
  main .sec9 h1 {
    font-family: "Syne";
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
  }
  main .sec9 button {
    padding: 0.7rem 1rem;
    border-radius: 5px;
    border: 1px solid black;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
    display: block;
  }
  main .sec10 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    padding: 4rem 0;
    border-bottom: 1px solid black;
  }
}/*# sourceMappingURL=style.css.map */